// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------


.wrapper {
  display: grid;
  place-items: center;
  width: min(100%, 150ch);
  margin: 0 auto;
  padding: clamp(1.4rem, 3vw, 3rem);
}

.wrapper-rating {
  margin: 0.8rem 0;
  display: flex;
  justify-content: space-between;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

