// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/// Set base button colors
$button-bg-color: $accent;
$button-text-color: $white;

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 10ch;
    min-height: 44px;
    font-size: 0.9rem;
    letter-spacing: 2.2px;
    transition: $transition;
    border: 1px solid $button-bg-color;
    border-radius: $border-radius;
    background-color: $button-bg-color;
    color: $button-text-color;
    text-transform: uppercase;
    cursor: pointer;
    &:hover:not([disabled]),
    &:focus {
        $button-bg-color: $white;
        $button-text-color: $accent;
        background-color: $button-bg-color;
        color: $button-text-color;
        border-color: $button-bg-color;
    }
    &:disabled {
        background-color: $dk-blue;
        border: none;
    }
}