// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------


.card {
  display: grid;
  width: min(100%, 26rem);
  gap: 0.8rem;
  padding: 1.6rem;
  background: linear-gradient(to bottom, hsl(215, 20%, 16%) 0%, hsl(215, 27%, 12%) 100%);
  border-radius: $border-radius;

  @media screen and (min-width: 36rem) {
    padding: 2.4rem;
    gap: 1.8rem;
  }
}

.wrapper-icon {
  background-color: $dk-blue;
  width: max-content;
  margin-bottom: 0.5rem;
  padding: 0.7em;
  border-radius: 50%;
}