dialog {
    width: min(100%, 26rem);
    margin: auto;
    text-align: center;
    color: inherit;
    background-color: transparent;
    border: none;
    transition: $transition;
}

.dialog-body {
    justify-items: center;
    text-align: center;

    & img {
        max-width: 146px;
        @media screen and (min-width: 36rem) {
            max-width: 100%;
          }
    }

    &.card {
        padding: 2.2rem 1.6rem;
        gap: 0.5rem;
        @media screen and (min-width: 36rem) {
            padding: 2rem;
            gap: 1rem;
          }
    }
}

dialog::backdrop {
    background: $vdk-blue;
}