dialog {
    margin: auto;
    border: 1px solid $bg-color;
    border-radius: calc($border-radius / 2);
    transition: $transition;
    color: inherit;
}

dialog > .card {
    width: max-content;
}

dialog::backdrop {
    background: $vdk-blue;
}