label {
    background-color: change-color($color: $dk-blue, $lightness: 30%);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover,
    &:focus-within
    { 
        background-color: $accent;
    }
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
}